* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}
body {
    background-color: #424242;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.todo {
    background-color: white;
    text-align: center;
    width: 500px;
    border-radius: 15px;
}
.todosElements {
    margin-top: 10px;
}

.title {
    margin: 10px 0;
}
.fa-list {
    margin-left: 10px;
    color: #CA0000;
}
.inputStyle {
    width: 200px;
    height: 25px;
    border: 2px solid #CA0000;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    outline: 0;
}
button {
    margin-left: 10px;
    width: 100px;
    height: 25px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: #CA0000;
    border: none;
    outline: 0;
    border-radius: 10px;
}